<html lang="pt-br">
<head>
    <%# Alterar para o nome do sistema. %>
    <title>Enviado com sucesso</title>
    <%- include('./parts/head'); %>
</head>
<body>
    <%- include('./parts/nav'); %>
<main>
    <section class="box-search box-header">
        <div class="box-header">
            <h1>Criado com Sucesso !</h1>
        </div>
        <a href="/dashboard" class="btn">Voltar</a>
    </section>
</main>
</body>
</html>