<html lang="pt-br">
<head>
    <%# Alterar para o nome do sistema. %>
    <title><%= message %></title>
    <%- include('./parts/head'); %>
</head>
<body>
    <%- include('./parts/nav'); %>
<main>
    <section class="box-search box-header">
        <div class="box-header">
            <h1 class="verde-escuro"><i class="fas fa-check-circle fa-3x"></i></h1>
            <h1><%= message %></h1>
        </div>
        <a href="/dashboard" class="btn">Página Inicial</a>
    </section>
</main>
</body>
</html>