<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Rastreamento de Encomenda</title>
    <%- include('./parts/head'); %>
</head>
<body>
    <header>
        <h1>Dashboard - Nome da Empresa</h1>
        <p class="cinza-escuro">Domingo, 08 de junho de 2019</p>
    </header>
    <main id="main-dashboard">
        <section>
            <h1 class="titulo">Encomendas</h1>
        </section>
    </main>
</body>
</html>