<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Rastreamento de Encomenda</title>
    <%- include('./parts/head'); %>
</head>
<body>
    <header>
        <h1>Dashboard - Nome da Empresa</h1>
        <p class="cinza-escuro">Domingo, 08 de junho de 2019</p>
    </header>
    <main id="main-dashboard">
        <div class="line-cards">
            <div class="card">
                <a href="/createOrder" class="white"><h3>Nova<br>Encomenda</h3></a>   
            </div>

            <div class="card">
                <a href="/createClient" class="white"><h3>Novo<br>Cliente</h3></a>   
            </div>

            <div class="card">
                <a href="/account" class="white"><h3>Suas<br>Configurações</h3></a>
            </div>
        </div>
        <section>
            <h1 class="titulo">Encomendas</h1>
            <table class="d-table">
                <tr>
                    <th>Código</th>
                    <th>Destinatário</th>
                    <th>Status</th>
                    <th>Atualizar</th>
                </tr>
                <tr class="d-row">
                    <td class="d-td">001</td>
                    <td class="d-td">Encomendas.com</td>
                    <td class="d-td">Em transporte</td>
                    <td class="d-td"><a href=""><i class="fas fa-arrow-circle-right fa-2x verde-escuro"></i></a></td>
                </tr>
                <tr class="d-row">
                    <td class="d-td">001</td>
                    <td class="d-td">Encomendas.com</td>
                    <td class="d-td">Em transporte</td>
                    <td class="d-td"><a href="" class="btn-circle">Atualizar</a></td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>