<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%# Alterar para o nome do sistema. %>
    <title>Index da Aplicação</title>
    <%- include('./parts/head'); %>
</head>
<body>
<%- include('./parts/nav'); %>
<main>
    <section class="box-search">
    <h1 class="titulo">Pesquise sua encomenda</h1>
         <form method="get" action="/order/">
         <span>Qual é o código da sua encomenda ?</span>
            <input type="text" name="orderCode" placeholder="XXX0000000" required>
            <a href="localhost:3000/order/?orderCode=15">Aqui</a>
            <button type="submit"><i class="fas fa-search"></i> Pesquisar</button>
        </form>
    </section>
</main>
</body>
</html>