<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%# Alterar para o nome do sistema. %>
    <title>Index da Aplicação</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <h1>Página Inicial da Aplicação</h1>
    <form method="get" action="/order/">
        <input type="text" name="code">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>