<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%# Alterar para o nome do sistema. %>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" >
</head>
<body>
<script>
    const value = localStorage.getItem('token');
    if(value == null || value == '' || value == undefined){
        console.log('login');
    } else {
        window.location.replace("/logado");
    }
    
</script>
<main>
    <section class="box-search">
    <h1 class="titulo">Login</h1>
         <form method="post" action="/authenticate">
            <input type="email" name="email" placeholder="Email:" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit"><i class="fas fa-search"></i> Entrar</button>
        </form>
    </section>
</main>
</body>
</html>