<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Rastreamento de Encomenda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <%for(let i=0; i < order.length;i++) {%>
    <p>Código: <%= order[i].code %>!</p>
    <%}%>
</body>
</html>