<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%# Alterar para o nome do sistema. %>
    <title>Detalhes</title>
    <%- include('./parts/head'); %>
</head>
<body>
<main>
    <section class="box-search">
    <h1 class="titulo">Detalhes do codigo-> <%= order.code%></h1>
    </section>
</main>
</body>
</html>